$color-primary: #333;
$color-dark-grey: #8E8D8C;
$color-light-grey: #BDBDBD;
$color-light: #f2f2f2;
$color-background: #E4DFD3;
$color-secondary: #8C9772;
$color-secondary-dark: #344F10;

$resolution-desktop: 1200px;
$resolution-tablet: 992px;
$resolution-mobile: 576px;
