@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'extends';
@import 'components';

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  color: $color-primary;
  background-color: $color-background;
}

.container {
  padding-top: 40px;
  margin: 0 50px;
  
  @media (max-width: $resolution-tablet) {
    padding-top: 22px;
    margin: 0 27px;
  }

  @media (max-width: $resolution-mobile) {
    padding-top: 15px;
    margin: 0 20px;
  }
}

a {
  display: inline-block;
  @include transition(color);

  &:hover {
    color: $color-secondary;
  }
}
