@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'extends';
@import 'components';

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  color: $color-primary;
}
